.container{
  color:darkcyan;
  background-color:darkcyan;

}   
h1 {
  text-align:center;
}
p {
  text-align:center;
}
.questions{
  margin-left:380px;
  list-style: none;
}
h3 {
  text-align:center;
}
.radio1{
  text-align:center;
}
.radio2{
  margin-left:100px;
}
.radio3{
  margin-left:120px;
}
.button{
  text-align:center;
  color:blue;
}
.refresh{
  text-align: center;
}
.final{
  display:none;
  color:white;
  text-align:center;
}